
.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: large;
  padding-top: 100px;
}
.login-container h2 {
  margin-bottom: 20px;
  text-align: center;
}

.form-group label {
  font-weight: bold;
}

.form-control {
  border-radius: 4px;
  margin-bottom: 15px;
}

.btn-primary {
  width: 100%;
  border-radius: 4px;
  background-color: #ff0000;
  color: white;
  border: #cc0000;
  padding: 10px;
  font-size: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.btn-primary:hover {
  background-color: #cc0000; 
  color: #ffcccb; 
  transform: scale(1.05); 
}
